/* Contacts */

.subtytle {
    font-family: Sora;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    padding-top: 230px;
}

.flex {
    display: flex;
    margin: 0 auto;
    max-width: 50%;
    gap: 5rem;
    padding-top: 40px;
}

.flexButton {
    display: flex;
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
    border: 1px;
    gap: 15px;
    border: 1px solid;
    color: #03E7D9;
    border-color: #03E7D9;
    font-family: Sora;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}