/* System */

body {
    margin: 0 auto;
    font-family: 'Sora';
}

.pureBlock {
    background-image: url('../../public/img/Rectangle-123-_2_.png');
    max-width: 100%;
    height: 3000px;     
    background-repeat: no-repeat;   
    background-size: cover;   
    background-position: center center;   
    margin: 0 auto;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .pureBlock {
        background-image: url('../../public/img/Rectangle-123-_3_.png');
        height: 5100px;
    }
}