/* System */

body {
    margin: 0 auto;
    font-family: 'Sora';
}

.pureBlock {
    background-image: url('../../public/img/Rectangle-123-_2_.png');
    max-width: 100%;
    height: 2900px;     
    background-repeat: no-repeat;   
    background-size: cover;      
    margin: 0 auto;
}