/* Team */

.subtytle {
    font-family: Sora;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    padding-top: 230px;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.image {
    margin: 0 auto;
    margin-bottom: 25px;
}