/* Pricing */

.subtytle {
    font-family: Sora;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    padding-top: 150px;
}

.flex {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 5rem;
    padding-top: 40px;
}

.block {
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background: linear-gradient(149.74deg, #203748 7.98%, #131348 92.63%);
    align-items: center;
    display: grid;
    grid-gap: 0rem;
}

.blockOne {
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background: linear-gradient(149.74deg, #203748 7.98%, #131348 92.63%);
    align-items: center;
    display: grid;
    grid-gap: 0rem;
    border: 1px solid #03E7D9;
}

.title {
    font-family: Sora;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 auto;
    color: #FFFFFF;
}

.price {
    font-family: Sora;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #03E7D9;
}

.underBlock {
    display: flex;
    margin: 0 auto;
    gap: 1.4rem;
}

@media screen and (max-width: 480px) {
    .flex {
        gap: 1rem;
        display: grid;
    }
    .subtytle {
        padding-top: 80px;
    }
}