/* Solution */

.solution {
    background-color: white;
    background-image: url('../../../public/img/443.png');
    background-position: center center;      
    background-repeat: no-repeat;   
    background-size: cover;      
    margin: 0 auto;
    height: 650px;
    max-width: 100%;
    text-align: center;
    gap: 3rem;
    margin-bottom: 130px;
}

.logo {
    margin: 0 auto;
}

.subtitle {
    font-family: Sora;
    font-size: 58px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.title {
    font-family: Sora;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 180px;
}


.block {
    padding-top: 190px;
}