/* Header */

header {
    max-width: 100%;
    height: 850px;
    background-image: url('../../../public/img/Frame1.png');
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    margin: 0 auto;
}

.block {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    padding: 55px 0;
    align-items: center;
    gap: 65%;
}

.image {
    position: absolute;
    top: -4px;
    left: -7px;
}

.images {
    position: relative;
}

.gap {
    gap: 1.6rem;
    display: flex;
}

.whiteTitle {
    color: white;
    font-size: 19px;
    margin-top: 5px;
}

.bottom_block {
    display: flex;
    gap: 1.2rem;
    margin: 0 auto;
    align-items: center;
}

.button {
    width: 73px;
    height: 48px;
    color: #FFFFFF;
    border: solid;
    background-color: #000000;
    border-radius: 25px;
    border-width: 2px;
    border-color: #444444;
    cursor: pointer;
}

.subtitle {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
}

.nameBlock {
    width: 781px;
    height: 175px;
    gap: 6rem;
    margin: 0 auto;
    margin-top: 200px;
}

.title {
    font-family: Sora;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.headButton {
    margin: 0 auto;
    margin-left: 38%;
    margin-top: 5%;
    width: 180px;
    height: 140px;
    border-radius: 112px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border: 5px solid #FFFFFF80;
    box-shadow: -18.600000381469727px 18.600000381469727px 18.600000381469727px 0px #FFFFFF1A inset;
    box-shadow: 18.600000381469727px -18.600000381469727px 18.600000381469727px 0px #A5A5A51A inset;
    cursor: pointer;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 33%;
}

.backgroundImageBig {
    position: absolute;
    top: 9%;
    left: 57%;
}

.backgroundImageMid {
    position: absolute;
    top: 9%;
    left: 33%;
}

.backgroundImageSmall {
    position: absolute;
    top: 34%;
    left: 28%;
}

@media screen and (max-width: 480px) {
    header {
        display: none;
    }
}