/* Header */

header {
    max-width: 100%;
    height: 850px;
    background-image: url('../../../public/img/Frame 1 (2).png');
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    margin: 0 auto;
}

.block {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    padding: 55px 0;
    align-items: center;
    gap: 65%;
}

.image {
    position: absolute;
    top: -4px;
    left: -7px;
}

.images {
    position: relative;
}

.gap {
    gap: 1.6rem;
    display: flex;
}

.whiteTitle {
    color: white;
    font-size: 19px;
    margin-top: 5px;
}

.bottom_block {
    display: flex;
    gap: 1.2rem;
    margin: 0 auto;
    align-items: center;
}

.button {
    width: 73px;
    height: 48px;
    color: #FFFFFF;
    border: solid;
    background-color: #000000;
    border-radius: 25px;
    border-width: 2px;
    border-color: #444444;
    cursor: pointer;
}

.subtitle {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
}

.nameBlock {
    width: 781px;
    height: 175px;
    gap: 6rem;
    margin: 0 auto;
    margin-top: 200px;
}

.title {
    font-family: Sora;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
}

.headButton {
    margin: 0 auto;
    margin-left: 38%;
    margin-top: 5%;
    width: 180px;
    height: 140px;
    border-radius: 112px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border: 5px solid #FFFFFF80;
    box-shadow: -18.600000381469727px 18.600000381469727px 18.600000381469727px 0px #FFFFFF1A inset;
    box-shadow: 18.600000381469727px -18.600000381469727px 18.600000381469727px 0px #A5A5A51A inset;
    cursor: pointer;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.backgroundImageMid {
    position: absolute;
    top: 9%;
    left: 33%;
}

.backgroundImageSmall {
    position: absolute;
    top: 34%;
    left: 28%;
}


/* Big Image */

.backgroundImageBig {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: #34133f;
    position: relative;
    transform: rotate(var(--hex-rotate));
    position: absolute;
    top: 14%;
    left: 60%;
    z-index: 1;
    opacity: .5;
  }
  
  .backgroundImageBig:before, 
  .backgroundImageBig:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #34133f;
    top: 0;
    left: 0;
  }
  
  .backgroundImageBig:before {
    transform: rotate(60deg);
  }
  
  .backgroundImageBig:after {
    --hex-side: 50px;
    transform: rotate(-60deg);
  }
  
  :root{
    --hex-rotate: 30deg; /* угол наклона шестиугольника относительно центра */
}
.backgroundImageBig:hover {
    filter: blur(30px);
    transition: 1s;
}


/* Mid Image */

.backgroundImageMid {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: #34133f;
    position: relative;
    transform: rotate(var(--hex-rotate));
    position: absolute;
    top: 9%;
    left: 33%;
    width: 48px;
    height: 80px;
    z-index: 1;
    opacity: .7;
  }
  
  .backgroundImageMid:before, 
  .backgroundImageMid:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #34133f;
    top: 0;
    left: 0;
  }
  
  .backgroundImageMid:before {
    transform: rotate(60deg);
  }
  
  .backgroundImageMid:after {
    transform: rotate(-60deg);
  }
  
  :root{
    --hex-side: 65px;
    --hex-rotate: 30deg; /* угол наклона шестиугольника относительно центра */
}
.backgroundImageMid:hover {
    filter: blur(5px);
    transition: 1s;
}



@media screen and (max-width: 480px) {
    header {
        display: none;
    }
}

@media screen and (max-width: 1600px) {
    .backgroundImageBig {
        position: absolute;
        top: 14%;
        left: 60%;
    }
    
    .backgroundImageMid {
        position: absolute;
        top: 11%;
        left: 30%;
    }
    
    .backgroundImageSmall {
        position: absolute;
        top: 34%;
        left: 23%;
    }
}


@media screen and (max-width: 1440px) {
    .backgroundImageBig {
        position: absolute;
        top: 14%;
        left: 63%;
    }
    
    .backgroundImageMid {
        position: absolute;
        top: 9%;
        left: 28%;
    }
    
    .backgroundImageSmall {
        position: absolute;
        top: 34%;
        left: 20.5%;
    }
}


@media screen and (max-width: 1366px) {
    .backgroundImageSmall {
        position: absolute;
        top: 34%;
        left: 18.5%;
    }
}