.block {
    display: none;
    max-width: 100%;
    height: 850px;
    background-image: url('../../../itemImg/adap.png');
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;
}

.image {
    position: absolute;
    top: -4px;
    left: -7px;
}

.images {
    position: relative;
}

.whiteTitle {
    color: white;
    font-size: 19px;
    margin-top: 5px;
}

.grid {
    display: grid;
    justify-content: center;
    padding-top: 223px;
    grid-gap: 1.2rem;
}

.flex {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}

.subtitle {
    font-family: Sora;
    font-size: 28px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.title {
    font-family: Sora;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
}

.button {
    width: 73px;
    height: 48px;
    color: #FFFFFF;
    border: solid;
    background-color: #000000;
    border-radius: 25px;
    border-width: 2px;
    border-color: #444444;
    cursor: pointer;
}

.bottom_block {
    gap: 1rem;
    margin: 0 auto;
    display: flex;
}

.headButton {
    margin: 0 auto;
    margin-top: 5%;
    width: 180px;
    height: 140px;
    border-radius: 112px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    border: 5px solid #FFFFFF80;
    box-shadow: -18.600000381469727px 18.600000381469727px 18.600000381469727px 0px #FFFFFF1A inset;
    box-shadow: 18.600000381469727px -18.600000381469727px 18.600000381469727px 0px #A5A5A51A inset;
    cursor: pointer;
}

.buttonTitle {
    color: #FFFFFF;
    font-family: Sora;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}

.dots {
    display: flex;
    gap: 0.5rem;
    margin: 0 auto;
    justify-content: center;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

@media screen and (max-width: 480px) {
    .block {
        display: block;
    }
}